<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  </head>
  <body>
    <div class="interface">
      <aside>
        <a href="#">
          <img alt="logo" src="../static/images/cat.png" />
        </a>
        <p class="info-name">Jackson wong</p>
        <p class="info-email">@Jacksonwang21</p>

        <nav class="nav">
          <ul class="nav-list">
            <li><a class="nav-link" href="#">Home</a></li>
            <li><a class="nav-link" href="#">Concepts</a></li>
            <li><a class="nav-link" href="#">Settings</a></li>
            <li>
              <a class="nav-link nav-cta" href="#">Sign out</a>
            </li>
          </ul>
        </nav>
      </aside>
      <main>
        <header></header>
        <div class="sections">
          <section class="section-f">
            <h2>Step1: Requirement -> Functions</h2>
            <div class="input-output">
              <form action="/submit_text" method="post">
                <label for="keyword">Input a concept you want to design</label>
                <div class="input">
                  <input
                    class="input-text"
                    type="text"
                    id="keyword"
                    name="keyword"
                  />
                </div>
                <input class="input-submit" type="submit" value="Generate" />
              </form>
              <div class="llm-header">
                <img
                  class="llm-img"
                  alt="logo"
                  src="../static/images/llm.svg"
                />
                <div>
                  <p class="llm-agent">LLM Agent</p>
                  <p class="llm-info">Please select a generated funciton</p>
                </div>
              </div>
              <div class="llm-output">
                <!-- <blockquote>
                  <pre>
There are numerous design structures that can be employed in the development of fitness equipment. Some common design structures used in fitness equipment include:</pre
                  >
                </blockquote> -->
                <blockquote><pre>{{ functions }}</pre></blockquote>
                <a class="continue" href="#">Continue</a>
              </div>
            </div>
          </section>

          <section class="section-b">
            <h2>Step2: Function -> Behaviors</h2>
            <div class="input-output">
              <form action="/submit_function" method="post">
                <label for="function"
                  >Input a function from step1 you want to explore</label
                >
                <div class="input">
                  <input
                    class="input-text"
                    type="text"
                    id="function"
                    name="function"
                  />
                </div>
                <input class="input-submit" type="submit" value="Generate" />
              </form>
              <div class="llm-header">
                <img
                  class="llm-img"
                  alt="logo"
                  src="../static/images/llm.svg"
                />
                <div>
                  <p class="llm-agent">LLM Agent</p>
                  <p class="llm-info">Please select a generated behavior</p>
                </div>
              </div>
              <div class="llm-output">
                <!-- <blockquote><pre></pre></blockquote> -->
                <blockquote><pre>{{ designs }}</pre></blockquote>
                <a class="continue" href="#">Continue</a>
              </div>
            </div>
          </section>

          <section class="section-s">
            <h2>Step3: Behavior -> Structures</h2>
            <div class="input-output fs">
              <form action="/submit_design" method="post">
                <label for="design"
                  >Input a behavior from step2 you want to explore</label
                >
                <div class="input">
                  <input
                    class="input-text"
                    type="text"
                    id="design"
                    name="design"
                  />
                </div>
                <input class="input-submit" type="submit" value="Generate" />
              </form>
              <div class="llm-header">
                <img
                  class="llm-img"
                  alt="logo"
                  src="../static/images/llm.svg"
                />
                <div>
                  <p class="llm-agent">LLM Agent</p>
                  <p class="llm-info">Please select a generated structure</p>
                </div>
              </div>
              <div class="llm-output">
                <!-- <blockquote><pre></pre></blockquote> -->
                <blockquote><pre>{{ structures }}</pre></blockquote>
                <a class="continue" href="#">Continue</a>
              </div>
            </div>
          </section>

          <section class="section-fs">
            <h2>Select Function-Structure pair</h2>
            <div class="input-output fs">
              <!-- <form action="/submit_structure" method="post">
                <label for="textbox">structure:</label>
                <div class="input">
                  <input
                    class="input-text"
                    type="text"
                    id="structure"
                    name="structure"
                  />
                </div>
                <input class="input-submit" type="submit" value="Generate" />
              </form> -->
              <div class="input-pair">
                <input
                  class="input-text"
                  type="text"
                  id="keyword"
                  name="keyword"
                />
                <a class="comfirm" href="#">Comfirm</a>
              </div>
              <div class="input-pair">
                <input
                  class="input-text"
                  type="text"
                  id="keyword"
                  name="keyword"
                />
                <a class="comfirm" href="#">Comfirm</a>
              </div>
              <div class="input-pair">
                <input
                  class="input-text"
                  type="text"
                  id="keyword"
                  name="keyword"
                />
                <a class="comfirm" href="#">Comfirm</a>
              </div>

              <!-- <div class="llm-output pair">
                <blockquote>
                  <pre>
{{ selected_function, selected_behavior, selected_structure }}</pre
                  >
                </blockquote>
              </div> -->

              <!-- <blockquote>
                {{ selected_function, selected_structure }}
              </blockquote> -->
            </div>
          </section>
        </div>
      </main>
    </div>
    <!-- function选框 -->
    <!-- <form action="/submit_function" method="post">
      <label>选择function:</label><br />
      {% for function in functions %}
      <div>
        <input
          type="radio"
          id="function{{ loop.index }}"
          name="function"
          value="function{{ loop.index }}"
        />
        <label for="function{{ loop.index }}">{{ function }}</label>
      </div>
      {% endfor %}
      <input type="submit" value="提交" />
    </form>
    <br /> -->
  </body>
</html>
